{% extends 'teach_nav.html' %}
{% block body %}
{% load static %}

<div class="container mt-5">
    <h2 class="text-center">Uplopad Notes</h2>
    <HR>
        <table id="myTable" class="table table-striped table-bordered" style="width:100%">
            <thead style="background-color : #607d8b;">
                <tr>
                    <th>S.No</th>
                    <th>Uploading Date</th>
                    <th>Branch</th>
                    <th>Subject</th>
                    <th>Download Notes</th>
                    <th>File Type</th>
                    <th>Description</th>
                </tr>
            </thead>
    
    
</div>
{% endblock %}